.cell {
  margin: 3px;
  min-width: 50px;
  min-height: 50px;
  aspect-ratio: 1;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.circle {
  border-radius: 50%;
}

.square {
  aspect-ratio: 1;
}

.triangle {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.notOpen {
  background-color: #f1f11f !important;
}
